<!--<h2 mat-dialog-title  class="custom-dialog-title">{{ data.title }}</h2>
<mat-dialog-content>
   <pre style="white-space: pre-wrap; background: #D4DCE0; padding: 10px; border-radius: 5px;width: 100%;">
    {{ data.detail?.trim() }}
  </pre>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="close-button">Schließen</button>
</mat-dialog-actions>
-->


<h2 mat-dialog-title class="custom-dialog-title">{{ data.title }}</h2>
<mat-dialog-content>
  <div class="message-content">{{ formatDetail(data.detail) }}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="close-button">Schließen</button>
</mat-dialog-actions>
